<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <!--Web crawlers traditionally have a hard time with fat client-side 
    JavaScript apps. To support web crawlers that run through the 
    app, we need to add a meta tag in the head. This meta tag causes 
    the crawler to request links with an empty escaped fragment 
    parameter so that the back end will serve back snippets of HTML.-->
    <meta name="fragment" content="!" />
    <link href="css/css/bootstrap.min.css" rel="stylesheet">
    <link href="css/site.css" rel="stylesheet">
    <link rel="shortcut icon" type="image/png" href="favicon.ico">
    
</head>
<body ng-app="app" >
<div data-ng-controller="MainController as MainController" >
    <header class ="container">
        <div id ="menu" class="navbar navbar-default navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <!-- if small screen the menu items will be collapsed down and accessable
                        through a chevron button-->
                    <button class="btn btn-success navbar-toggle"
                        data-toggle="collapse"
                        data-target=".navbar-collapse">
                        <span class="glyphicon glyphicon-chevron-down"></span></button>
                    <h4>{{ MainController.appName }}</h4>
                </div>  
                <div class="navbar-collapse collapse">     
                    <ul class="nav navbar-nav navbar-right">         
                        <li class="nav active"><a href="#/Plan">Plan</a></li>
                        <li class="nav"><a href="#/">Meals</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </header>
    <div class ="container hidden-sm">
        <div class='page-header'>
            <h4>Current Meal Plan</h4>
            <p>Select a meal for details and to remove it from the current plan</p></div>
        <!--xs (phones), sm (portrait tablets), md (landscape tablet), and lg (larger desktops)-->
        <div class = "col-lg-1 col-sm-2 col-md-1 col-xs-3 " data-ng-repeat="plan in MainController.currentPlan">
            <div>
                <div ng-controller="ModalController as modalController" class="modal-demo">
                    <script type="text/ng-template" id="myModalContent.html">
                        <div class="modal-header">
                            <h3 class="modal-title" id="modal-title">{{ modalController.detailItem.name }}</h3>
                        </div>
                        <div class="modal-body" id="modal-body">
                            <div style="display:inline;text-align:left; float: left;">
                                <img ng-src="{{modalController.detailItem.image_path}}" alt = "{{modalController.detailItem.name}}" style="width:50%" />
                                <div style="float: center; display: inline-block;">
                                    <p>Meal Type: {{modalController.detailItem.meal_type}}<br>
                                    Meat Type: {{modalController.detailItem.meat_type}}</p>
                                </div>
                            </div>

                        <div class="modal-footer">
                            <button class="btn btn-default" type="button" ng-click="modalController.edit()">Edit Meal</button>
                            <button class="btn btn-default" type="button" ng-click="modalController.remove()">Delete</button>
                            <button class="btn btn-warning" type="button" ng-click="modalController.cancel()">Cancel</button>
                        </div>
                    </script>
                    <div class = "row hidden-sm"><!--hide if on mobile, too squishy)-->
                        <a href="" ng-click="modalController.open(plan)">
                            <img class="image-responsive pull-right thumbnailTiny-img" ng-src="{{plan.image_path}}" alt = "{{plan.name}}"  />
                        </a>
                    </div>
                </div>
            
            </div>
        </div>
    </div>
    <hr />
    
    <div class ="container" ng-view></div>
</div>
<script src="app/angular/angular.min.js"></script>
<script src="css/js/jquery-3.0.0.min.js"></script>
<script src="css/js/bootstrap.min.js"></script>
<script src="css/js/ui-bootstrap-tpls-2.5.0.min.js"></script>
<script src="app/angular/angular-route.min.js"></script>
<script src="app/angular/angular-animate.js"></script>
<script src="app/angular/angular-sanitize.js"></script>
<!--<script src="app/angular/angular-resource.js"></script>-->
<script src="app/app.js"></script>
<script src="app/controllers/MainController.js"></script>
<script src="app/meal/MealController.js"></script>
<script src="app/meal/ModalController.js"></script>
<script src="app/meal/ModalInstanceController.js"></script>
<script src="app/meal/ModalComponent.js"></script>
<script src="app/plan/AutoFillController.js"></script>
<script src="app/meal/AddMealController.js"></script>
<script src="app/meal/EditMealController.js"></script>
<script src="app/meal/dataService.js"></script>
<script src="app/config/typeService.js"></script>
<script src="app/config/loggerService.js"></script>
<script src="app/config/constantService.js"></script>
<script src="app/config/sharedData.js"></script>
</body>
</html>