<div class="page-header">
    <ol class="breadcrumb">
        <li><a id='breadcrumbMeals' href="#/">Meals</a></li>
        <li class="active">Add New Meal</a></li>
    </ol>
    <h4>Add Meal</h4>
</div>
<form class="form-horizontal" name="addForm" novalidate>
    <div class="form-group">
        <label for="mealName" class="col-md-1 control-label">Name *</label>
        <div class="col-md-11">
            <input ng-model="mealAdder.newMeal.name" type="text" class="form-control" name="mealName" placeholder="Name" required>
            <span style="color:red" ng-show="addForm.mealName.$dirty && addForm.mealName.$invalid || addForm.mealName.$touched && addForm.mealName.$invalid">
                <span ng-show="addForm.mealName.$error.required">Name is required.</span>
            </span>
        </div>
    </div>
    <div class="form-group">
        <label for="mealMealType" class="col-md-1 control-label">Meal Type *</label>
        <div class="col-md-11">
            <select class="form-control" ng-model="mealAdder.newMeal.meal_type" name="mealMealType" 
            ng-options="item.meal_type for item in mealAdder.mealTypes" required>
                <option value="">Select Meal</option>
            </select>
            <span style="color:red" id="nameValidation" ng-show="addForm.mealMealType.$dirty && addForm.mealMealType.$invalid || addForm.mealMealType.$touched && addForm.mealMealType.$invalid">
                <span ng-show="addForm.mealMealType.$error.required">Name is required.</span>
            </span>
        </div>
    </div>
    <div class="form-group">
        <label for="mealMeatType" class="col-md-1 control-label">Meat Type(s) *</label>
        <div class="col-md-11">
            <select class="form-control" multiple ng-model="mealAdder.newMeal.meat_type" name="mealMeatType" 
            ng-options="item.meat_type for item in mealAdder.meatTypes" size="13" required>
                <option value="">Select Meat Type(s)</option>                
            </select>
            <span style="color:red" ng-show="addForm.mealMeatType.$dirty && addForm.mealMeatType.$invalid || addForm.mealMeatType.$touched && addForm.mealMeatType.$invalid">
                <span ng-show="addForm.mealMeatType.$error.required">Name is required.</span>
            </span>
        </div>
    </div>
    <div class="form-group">
        <label for="mealPath" class="col-md-1 control-label">URL</label>
        <div class="col-md-11">
                <input ng-model="mealAdder.newMeal.path" type="url" class="form-control" name="mealPath" placeholder="URL">
            </div>
        </div>
        
    <div class="form-group" data-ng-show=false>
        <label for="mealImagePath" class="col-md-1 control-label">Image Path</label>
        <div class="col-md-11">
                <input ng-model="mealAdder.newMeal.image_path" type="text" class="form-control" name="mealImagePath" placeholder="Image Path">
            </div>
        </div>
    <div class="form-group">
        <label for="mealFileType" class="col-md-1 control-label">File Type</label>
        <div class="col-md-11">
            <select class="form-control" ng-model="mealAdder.newMeal.file_type" name="mealFileType" 
            ng-options="item.file_type for item in mealAdder.fileTypes">
                <option value="">Select File Type</option>
            </select>
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-4 col-sm-offset-1">
            <button class="btn btn-primary" type="button" ng-click="mealAdder.save()" id="Save"
            ng-disabled="addForm.mealName.$invalid || addForm.mealMealType.$invalid || addForm.mealMeatType.$invalid">Save</button>
            <button class="btn btn-warning" type="button" ng-click="mealAdder.cancel()">Cancel</button>
        </div>
    </div>
</form>