<div class="page-header"><h4>Current Meals</h4><p>Select a meal to view and edit details</p>
    <ul class="nav nav-pills navbar-default">
        <li><a href="#/AddNewMeal">Add a New Meal</a></li>
    </ul>
</div>
<div class = "row">
    <div class = "col-lg-2 col-sm-3 col-md-3 col-xs-4" data-ng-repeat="meal in MealController.allMeals">
    <div class="thumbnail">
        <div ng-controller="ModalController as modalController" class="modal-demo">
            <script type="text/ng-template" id="myModalContent.html">
                <div class="modal-header">
                    <a href="#/" class="close" ng-click="modalController.cancel()">&times;</a>
                    <h3 class="modal-title" id="modal-title">{{ modalController.detailItem.name }}</h3>
                </div>
                <div class="modal-body" id="modal-body">
                    <div style="display:inline;text-align:left; float: left;">
                        <img ng-src="{{modalController.detailItem.image_path}}" alt = "{{modalController.detailItem.name}}" style="width:50%" />
                        <div style="float: center; display: inline-block;">
                            <p>Meal Type: {{modalController.detailItem.meal_type}}<br>
                            Meat Type: {{modalController.detailItem.meat_type}}</p>
                        </div>
                    </div>

                <div class="modal-footer">
                    <button class="btn btn-default" type="button" ng-click="modalController.edit()">Edit Meal</button>
                    <button class="btn btn-default" type="button" ng-click="modalController.removeMeal()">Delete Meal</button>
                    <button class="btn btn-warning" type="button" ng-click="modalController.cancel()">Cancel</button>
                </div>
            </script>
            <div class="row">
                <a href="#/" ng-click="modalController.open(meal)">
                    <img class="pull-center img-thumbnail" ng-src="{{meal.image_path}}" alt = "{{meal.name}}" style="width:50%" />
                    {{meal.name}}
                </a>
            </div>
        </div>
    </div>
</div>